html, body {
    margin: 10;
    padding: 10;
    text-align: center;
    background-image: url("./assets/images/snake2.jpg") ;
    /* background: linear-gradient(to right,yellow,green); */
    /* background-blend-mode: color; */
    background-size: cover;
    
}





.grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: double 2px rgb(60, 67, 51);
    box-shadow: 2px 2px  5px green;
    margin: 0 auto;
    background-color: rgb(75, 123, 75);
    border-radius: 5px;
    
    
}




h1{
    color: black;
    text-decoration: underline;
    font-family: lora;
    font-weight: 700;
    margin-bottom: 30px;

}
.head{
    
    font-size: 54px;
    line-height: -1;
    letter-spacing: -1;
    padding: 6px;
    border-radius: 6px;
}
#start,#stop{
    padding: 10px;
    border-radius: 5px;
    background: black;

}
h2{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
    
}

.square {
    width: 30px;
    height: 30px;
}

.snake {
    background-color:rgb(178, 227, 135);
    ;


}


.apple {
    background-color:rgb(178, 227, 135);
    border-radius: 50%;
}

#start{
    border: none;
    border-bottom: 2px solid greenyellow;
    color: white;
    font-weight: bold;
}
#stop, #play{
    font-size:18px;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid greenyellow;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    
    
    
}
#start:hover,#stop:hover{
    background: green;
    color:white;
}
